<%= content_for :title, "Home | " %>
<div class='home'>
  <h1 class='home_title'>Blog App <span>by <a href='https://github.com/yin-ka' target='_blank'>Yusuf</a></span></h1>
  <p class='home_description'>The Blog app serves as a typical illustration of a blog website. I am in the process of developing a fully featured website that will display a list of articles and enable readers to engage by leaving comments and expressing their approval by liking posts.</p>
</div>